<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 4</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Q8_style.css">
    <script src="Q7.js" defer></script>
</head>
<body style="margin: 0px;">

    <% try { %>
        <%- include("partials/header") %>
    <% } catch (e) { %>
        <p style="color: red;">Header error: <%= e.message %></p>
    <% } %>
    

    <div class="container">
        <form action="/find" method="POST">
            <fieldset>
                <legend>Adoption Form</legend>
    
                <p>What are you looking for:
                    <label><input type="radio" name="Animal" value="CAT" required>Cat</label>
                    <label><input type="radio" name="Animal" value="DOG">Dog</label>
                </p>
    
                <label>What Breed are you looking for:
                    <input type="text" name="Breed" id="Breed">
                </label>
                <label>&emsp;It doesn't matter
                    <input type="checkbox" name="BreedCheckbox" value="N/A">
                </label><br><br>
    
                <label>What age do you prefer:
                    <select name="age" id="age">
                        <option value="N/A">Doesn't matter</option>
                        <% for(let i = 1; i <= 10; i++) { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                        <option value="10+">10+</option>
                    </select>
                </label>
    
                <p>Gender:
                    <label><input type="radio" name="Gender" value="Male">Male</label>
                    <label><input type="radio" name="Gender" value="Female">Female</label>
                    <label><input type="radio" name="Gender" value="N/A" checked>Doesn't Matter</label>
                </p>
    
                <p>Does it need to get along with children or other animals:
                    <label><input type="radio" name="getAlong" value="yes">YES</label>
                    <label><input type="radio" name="getAlong" value="no">NO</label>
                </p>
    
                <button type="submit">Submit</button>
                <input type="reset" value="Clear">
            </fieldset>
        </form>
    
        <% if (results && results.length > 0) { %>
            <h3>Matching Pets:</h3>
            <% results.forEach(pet => { %>
                <p>
                    <%= pet[2] %> - <%= pet[3] %> - Age: <%= pet[4] %> - Gender: <%= pet[5] %> - Gets along: Kids(<%= pet[6] %>), Dogs(<%= pet[7] %>), Cats(<%= pet[8] %>) - Info: <%= pet[9] %>
                </p>
            <% }) %>
        <% } else if (results) { %>
            <p><strong>No matches found.</strong></p>
        <% } %>
        
    </div>
    
    <div class="side-menu">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/register">CREATE ACCOUNT</a></li>
            <li><a href="/find">FIND A DOG/CAT</a></li>
            <li><a href="/dog-care">DOG CARE</a></li>
            <li><a href="/cat-care">CAT CARE</a></li>
            <li><a href="/give">A PET TO GIVE AWAY?</a></li>
            <li><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>

    <%- include("partials/footer") %>

</body>
</html>